$theme_background_image: "background.jpg";
$theme_background_color: white;
$theme_background_repeat: no-repeat;

$theme_frame_border: #2a4d69;
$theme_frame_title_background_color: #648aaf;
$theme_frame_title_color: #f2f3f1;
$theme_frame_pane_background_color: #f2f3f1;
$theme_frame_button_background_color: #b2c5d7;

@import "../_BASE.scss";