div.application-login {
    padding: 8px;

    $input_width: 300px;
    $form_height: 170px;
    $forgot_password_top_margin: 5px;
    $forgot_password_height: $forgot_password_top_margin + 15;

    form {
        label {
            display: block;
            width: $input_width;
            margin-bottom: 2px;
            margin-left: auto;
            margin-right: auto;

            &:first-of-type {
                margin-top: 10px;
            }
        }

        input {
            font-size: 16px;
            width: $input_width;
            display: block;
            border: 1px solid black;
            border-radius: 4px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-align: center;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;

            &[type=submit] {
                width: $input_width * 2/3;
                padding-top: 3px;
                padding-bottom: 3px;
                cursor: pointer;
                font-size: 14px;
                margin-bottom: 0px;
            }
        }
    }

    a.forgot-password {
        font-size: 13px;
        display: inline-block;
        margin-right: 40px;
        margin-top: 5px;
        float: right;
        cursor: pointer;
    }
}