html > body > div.workspace {
    background: $theme_background_color url($theme_background_image) $theme_background_repeat;

    > div.frame {
        box-shadow: 0px 0px 5px 1px $theme_frame_border;

        > div.titlebar {
            border-color: $theme_frame_border;
            background: $theme_frame_title_background_color url('../title-background.png');

            > div.title {
                color: $theme_frame_title_color;
                text-shadow: 0px 0px 15px darken($theme_frame_title_color, 10%);
            }
        }

        > div.status {
            border-color: $theme_frame_border;
        }

        > div.pane {
            background-color: $theme_frame_pane_background_color;

            input[type=submit], input[type=button], button {
                background-color: $theme_frame_button_background_color;
            }
        }
    }
}