$ui_font_family: 'Raleway', sans-serif;

/********
 * CORE BROWSER
 ********/
html {
    font-family: $ui_font_family;
}

body {
    min-height:700px;
    position:relative;
    margin:0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/********
 * WORKSPACE
 ********/
html > body > div.workspace {
    position:absolute;
    top:0px;
    bottom:40px;
    left:0px;
    right:0px;
    background-color:lime;
    padding:3px;
    
    @media screen and (min-height: 701px) {
        position:fixed;
    }
    
    &.staging {
        display:none;
    }
}
html > body.notaskbar > div.workspace {
    bottom: 0px;
}

/********
 * TASKBAR
 ********/
html > body > div.taskbar {
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:39px;
    background-color:blue;
    border-top:1px solid black;

    @media screen and (min-height:701px) {
        position: fixed;
    }
}

html > body.notaskbar > div.taskbar {
    display: none;
}

/*****************************
 * FRAME
 *****************************/
div.workspace > div.frame {
    $top_frame_radius: 2px;
    $bottom_frame_radius: 4px;
    $titlebar_height: 25px;

    position:absolute;
    border: 1px solid black;
    border-radius:1px;
    border-top-left-radius: $top_frame_radius;
    border-top-right-radius: $top_frame_radius;
    border-bottom-left-radius: $bottom_frame_radius;
    border-bottom-right-radius: $bottom_frame_radius;
    min-width: 400px;
    min-height: 100px + $titlebar_height;

    &.focus {
        z-index:1700;
    }

    &.ui-draggable-dragging * {
        cursor: move !important;
    }

    /*** [ Titlebar ] ***/
    > div.titlebar {
        background-color: red;
        height: $titlebar_height;
        border-top-left-radius: $top_frame_radius - 1; /* if exactly the same, little white dots will bleed through because of aliasing */
        border-top-right-radius: $top_frame_radius - 1;
        border-bottom: 1px solid black;
        cursor: auto;

        > div.buttons {
            position: absolute;
            top: 0px;
            left: 0px;

            > div.button {
                float: left;
                width: 22px;
                height: $titlebar_height;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0.6;

                &:hover {
                    opacity: 1.0;
                }

                &.hidden {
                    display: none;
                }

                &.close {
                    background-image: url('frame-closeButton.png');
                }

                &.maximize {
                    background-image: url('frame-maximizeButton.png');
                }

                &.minimize {
                    background-image: url('frame-minimizeButton.png');
                }
            }
        }

        > div.title {
            font-family: $ui_font_family;
            text-overflow:ellipsis;
            overflow:hidden;
            text-align:center;
            font-size: 14px;
            padding-top: 4px;
            padding-bottom: 4px;

            /* vertical align it to centre (http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/) */
            /* slight offset as well to prevent hanging characters (ie 'g') from hitting the bottom of the titlebar */
            position: relative;
            top: 50%;
            transform: translateY(-52%);
        }
    }
    &.focus > div.titlebar {
        font-weight: 600;

        > div.title::before {
            content: '.: ';
        }

        > div.title::after {
            content: ' :.';
        }
    }

    /*** [ Status bar ] ***/
    > div.status {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top: 1px solid black;
        text-align: left;
        height: 15px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $ui_font_family;
        font-size: 12px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        cursor: default;
        border-bottom-left-radius: $bottom_frame_radius - 1; /* if exactly the same, little white dots will bleed through because of aliasing */
        border-bottom-right-radius: $bottom_frame_radius - 1;
    }
    &.nostatusbar > div.status {
        display: none;
    }

    /*** [ Pane ] ***/
    > div.pane {
        background-color: white;
        position: absolute;
        top: $titlebar_height + 1; /* bottom border */
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: auto;
    }
    &:not(.nostatusbar) > div.pane {
        bottom: 16px;
    }
    &.nostatusbar > div.pane {
        border-bottom-left-radius: $bottom_frame_radius - 1; /* if exactly the same, little white dots will bleed through because of aliasing */
        border-bottom-right-radius: $bottom_frame_radius - 1;
    }
}